DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
PORT=
JWT_SECRET=
FRONTEND_URL=https://fitsmart.chiranj.dev,http://168.144.121.188

GEMINI_API_KEY=
GEMINI_PRIMARY_MODEL=gemini-2.5-flash
GEMINI_SECONDARY_MODEL=gemini-2.0-flash
GEMINI_TERTIARY_MODEL=gemini-2.0-flash-exp
GEMINI_FALLBACK_MODEL=gemini-2.5-pro